<h1>Log in to play</h2>

<%= erb :_errors %>

<form action="/sessions" method="POST">
  <input type="text" name="user[email]" placeholder="email address"><br><br>
  <input type="password" name="user[password]" placeholder="password"><br><br>
  <input type="submit" value="log in!" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
