<% if logged_in? %>
  <main role="main">
    <ul class="entries-list no-bullets no-padding">
      <% @decks.each do |deck| %>
        <li class="entry-item pad-b-4">
          <a href="/decks/<%= deck.id %>" class="entry-title font-2 pad-b-1-4 c-white"><%= deck.topic %></a></span>
        </li>
      <% end %>
    </ul>
  </main>
<% else %>
  <p class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">LOG IN TO PLAY</p>
<% end %>
